h1 {
    text-align: center;
    padding-bottom: 30px;
}

h2 {
    text-align: center;
}

p {
    padding-left: 8px;
    font-size: 140%;
    font-weight: 600;
    font-family: 'Orbitron', sans-serif;
}

div {
    padding-top: 30px;
    text-align: center;
}

button {
    margin: 10px 1px 10px 10px;
}